/*Animacion*/

/*Elementos de neutralidad*/
header, article, footer, section, nav, aside{
	display:block;
	margin:0;
	padding:0;
}
html{
	background:#FFF;
	margin:0;
	padding:0;
}
body{
	width:1060px;
	background:#bcd5b0;
	margin:0 auto;
	font-family:Verdana, Geneva, sans-serif;
}
p, h1, h2, h3{
	margin:0;
	padding:0;
}
/*Etiquetas estructurales*/
header{
	height:90px;
	background:#76a68b;
}
article{
	height:460px;
	background:#bcd5b0;
}
footer{
	height:60px;
	background:#898c70;
	clear:both;
}
nav{
	font_size:.7em;
	color:#f2e3b6;
	text-align:center;
	paddin-top:1em;
}
/*Estilos de fuente*/
h1{
	font-size:2.2em;
	color:#FFF;
 	text-align: center;
}
h2{
	font-size:1.8em;
	color:#f2e3b6;
 	text-align: center;
	padding-top:.2em;
}
h3{
	font-size:.8em;
	color:#f2e3b6;
 	text-align: center;
}

p{
	font-size:1em;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	line-height:1.2em;
	color:#CCC;
}
ul, li{
	display:inline;
}
a{
	text-decoration:none;
	font-size:0.8em;
	color:#f2e3b6;
	text-align:center;
}
/*Clases*/
.izq{
	float:left;
	margin-right:1em;
}
.der{
	float:right;
	margin-left:1em;
}
/*CAJAS*/
.caja1{
	width:104px;
	height:440px;
	background:rgba(6,6,6,.5);
	margin:2px;
	padding:2.5px;
	float:left;
	font-size:0.8em;
	border: 2px solid #000;

	/*Bordes*/
	border-radius:15px 0;
	-moz-border-radius:15px 0;
	-webkit-border-radius:15px 0 15px 0;

	/*Sombra*/
	box-shadow:2px 2px 5px #000;
	-moz-box-shadow:2px 2px 5px #000;
	-webkit-box-shadow:2px 2px 5px #000;

  /*Animación*/
  animation-name: inicio;
  animation-duration: 5s;

  -moz-animation-name: inicio;
  -webkit-animation-name: inicio;

  -moz-animation-duration: 5s;
  -webkit-animation-duration: 5s;


}
.caja1:hover{
animation-name: girando;
animation-timing-function: linear;
animation-iteration-count: 1;
animation-duration: 3s;
transform-style: preserve-3d;

-webkit-animation-name: girando;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: 1;
-webkit-animation-duration: 3s;
-webkit-transform-style: preserve-3d;

-moz-animation-name: girando;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: 1;
-moz-animation-duration: 3s;
-moz-transform-style: preserve-3d;
}
@keyframes inicio {
  from{opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes inicio {
  from{opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes inicio {
  from{opacity: 0;}
  to {opacity: 1;}
}
@keyframes girando {
  from{transform: rotateY(0deg);}
  to{transform: rotateY(-360deg);}
}
@-moz-keyframes girando {
  from{transform: rotateY(0deg);}
  to{transform: rotateY(-360deg);}
}
@-webkit-keyframes girando {
  from{transform: rotateY(0deg);}
  to{transform: rotateY(-360deg);}
}
